body {
  background-color: rgb(237, 218, 132);

  margin: 0;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  width: 450px;
  height: 300px;

  border: 1px solid black;
  border-radius: 15px;
}
